<div class="login_page" id="login_bg">
	<div class="login_page_main login-page">
		<img src="assets/logo/logo.png">
		<p>Set New Password.</p>
		<div class="login_form">
			<form (ngSubmit)="onSubmit()" [formGroup] = "resetPasswordForm" class="pt-3">
				<div [ngClass]="{disabledDiv: !common.isActiveDiv}">
					<div class="form-group">
						<input type="email" class="form-control form-control-lg" name="email" formControlName = "email" [ngClass]="{ 'is-invalid': submitted && rpf.email.invalid }" placeholder="Email Address" required />
						<div *ngIf="submitted && rpf.email.invalid" class="invalid-feedback-splash">
							<div *ngIf="rpf.email.errors.required">Email is required</div>
							<div *ngIf="rpf.email.errors.pattern">Email format is incorrect.</div>
						</div>
					</div>
					<div class="form-group">
						<input type="password" class="form-control form-control-lg" name="password" formControlName = "password" [ngClass]="{ 'is-invalid': submitted && rpf.password.invalid }" placeholder="New Password" required/>
						<div *ngIf="submitted && rpf.password.invalid" class="invalid-feedback-splash">
							<div *ngIf="rpf.password.errors.required">Password is required</div>
							<div *ngIf="rpf.password.errors.pattern">Password must have one uppercase, one lower case and a digit. Password should be 6-12 characters long.</div>
						</div>
					</div>
					<div class="form-group">
						<input type="text" class="form-control form-control-lg" formControlName = "otp" [ngClass]="{ 'is-invalid': submitted && rpf.otp.invalid }" placeholder="Verification code" required  />
						<div *ngIf="submitted && rpf.otp.invalid" class="invalid-feedback-splash">
							<div *ngIf="rpf.otp.errors.required">Verification Code is required</div>
							<div *ngIf="rpf.otp.errors.pattern">Only Number is valid.</div>
						</div>
					</div>
					<div class="form_btn">
						<input type="submit" name="" value="Change Password">
						<!-- <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" >Change Password</button> -->
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="alert alert-{{ message.responseType }} text-center" style="margin-top: 10px;" *ngIf = "message.responseMessage">{{ message.response }}</div>
				<div class="my-2 d-flex justify-content-between align-items-center">
				</div>
				<div class="otp_resend">
					Want to request a new Verification Code? <a routerLink = "/forgot-password" class="text-primary"><u style="color: white">Click Here</u></a>
				</div>
				<!--<div class="otp_resend">
					Ryan Resend?<a class="btn"><u (click)="ryanClick()" style="color: white">Click Here</u></a>
				</div> -->
				<hr style="height:20pt; visibility:hidden;"/>
				<!-- <div>
					<font color="white">By using Avior you are agreeing to Avior's <a href = "http://avioranalytics.net/terms-of-use/" style="border-bottom: 1px solid white; color:white" target="_blank">Terms of Use</a></font>
				</div> -->
			</form>
		</div>
	</div>
</div>



<!-- <div class="form_fild">
        <input type="text" name="" placeholder="Enter Email">
      </div>
      <div class="form_fild">
        <input type="password" name="" placeholder="Enter Password">
      </div>
  -->

 <!--  <a routerLink="/about-info">
          <input type="submit" name="" value="Login">
        </a> -->