.btn-gradient-primary {
    background: linear-gradient(180deg, #00A5EB 0%, rgba(255, 255, 255, 0) 100%), #007DB2;
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    border-radius: 0.1875rem;
    font-size: 0.875rem;
    transition: opacity 0.3s ease;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }
  
  .form-control {
    font-size: 0.8125rem;
  }