<div class="login_page" id="login_bg">
	<div class="login_page_main login-page">
		<img src="assets/logo/logo.png">
		<p>Reset Password</p>
		<div class="login_form">
			<form (ngSubmit)="onSubmit()" [formGroup] = "forgotPasswordForm" class="pt-3">
				<div [ngClass]="{disabledDiv: !common.isActiveDiv}">
					<div class="form-group">
						<input type="email" class="form-control form-control-lg" name="email" formControlName = "email" [ngClass]="{ 'is-invalid': submitted && fpf.email.invalid }" placeholder="Email Address" required />
						<div *ngIf="submitted && fpf.email.invalid" class="invalid-feedback-splash">
							<div *ngIf="fpf.email.errors.required">Email is Required</div>
							<div *ngIf="fpf.email.errors.email">Email Format is Invalid</div>
						</div>
					</div>
					<div class="form_btn">
						<input type="submit" name="" value="Send Reset Link">
					</div>
				</div>
				<div class="alert alert-{{ message.responseType }} text-center" style="margin-top: 10px; width:100%; float:left;" *ngIf = "message.responseMessage">{{ message.response }}</div>
				<div class="my-2 d-flex justify-content-between align-items-center">
				</div>
				<div class="account_allready">
					<a routerLink="/reset-password">I have a verification code</a>
				</div>
				<div class="account_allready">
					Already have an account? <a routerLink = "/login" class="text-primary">Login</a>
				</div>
			</form>
		</div>
	</div>
</div>